numpy==1.16.2
opencv-python==4.1.0.25
zuper-nodes-z5>=5.0.3

aido-protocols-daffy>=5.0.6
duckietown-world-daffy
duckietown-challenges-daffy

-e git://github.com/AndreaCensi/procgraph.git@master-python3#egg=procgraph

